<form name="container-form" method="POST" action="/post/handle-form-actions" class="mt-4">
    <div>
        <h3>Bài viết của tôi</h3> 
        <a class="me-auto btn btn-dark" href="/me/trash/posts">Thùng rác <span class="">({{deletedCount}})</span></a>  
        <div class="d-flex flex-row mt-3 mb-2 align-items-center">
            

            <select class="w-25 form-select ms-2 me-2" name="action" required aria-label="Default select example">
                <option value=""> -- Hành Động -- </option>
                <option value="delete">Xoá</option> 
            </select> 
            <button class="btn btn-primary btn-check-all-submit disabled">Thực hiện</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkAllCourses"> 
                    </div>
                </td>
                <th scope="col">
                    ID
                    {{{sortable '_id' _sort}}} 
                </th>
                <th scope="col">
                    Tiêu đề bài viết 
                    {{{sortable 'name' _sort}}}
                </th> 
                <th scope="col">
                    Thời gian tạo 
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <td colspan="3"></td> 
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}"> 
                    </div>
                </td>
                <td scope="row">{{this._id}}</td>
                <td>{{this.name}}</td> 
                <td>{{this.createdAt}}</td> 
                <td>
                    <a class="btn btn-primary" href="/post/{{this._id}}/edit">Sửa</a>
                </td>
                <td>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCourseModal" data-id="{{this._id}}" href="">Xoá</a>
                </td>
            </tr> 
            {{else}}
            <tr>
                <td class="text-center" colspan="5">
                    <span class="">Bạn chưa đăng bài viết nào.</span>    
                    <a href="/post/create" class="btn btn-primary">Đăng bài viết</a>
                </td> 
            </tr>
            {{/each}}
        </tbody>
    </table> 
</form>

<div class="confirm-delete">
    <div id="deleteCourseModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Xoá Bài viết</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Bạn có chắc muốn xoá Bài viết</p>
        </div>
        <div class="modal-footer">
            <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
            <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        </div>
        </div>
    </div>
    </div>
</div>

<form method="POST" action="" name="delete-course-form"></form> 

<script>
    document.addEventListener('DOMContentLoaded',() => {   
        var idCourse;
        var deleteForm = document.forms['delete-course-form']
        var checkboxAll = $('#checkAllCourses')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var btnCheckAllSubmit = $('.btn-check-all-submit')

        document.getElementById('deleteCourseModal').addEventListener('show.bs.modal', event => { 
            const button = event.relatedTarget 
            idCourse = button.getAttribute('data-id')   
        })

        document.getElementById('btn-delete-course').addEventListener('click', () => {
            deleteForm.action = '/post/' + idCourse + '?_method=DELETE'
            deleteForm.submit()
        })   

        // Check all changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked') 
            courseItemCheckbox.prop('checked', isCheckedAll)  
            renderCheckAllSubmitBtn() 
        }) 

        // Course item checkbox clicked
        courseItemCheckbox.change(function() {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length 
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn() 
        })  

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length 
            if (checkedCount > 0) {
                btnCheckAllSubmit.removeClass('disabled')
            } else {
                btnCheckAllSubmit.addClass('disabled')

            }
        }

    })
</script>