<form name="container-form" method="POST" action="/post/handle-form-actions" class="mt-4">
    <div>
        <a class="me-auto text-decoration-none" href="/me/stored/posts">Danh sách bài viết</a>  
        <h3>Bài viết đã xoá</h3> 
        <div class="d-flex flex-row mt-3 mb-2 align-items-center">  
            <select class="w-25 form-select ms-2 me-2" name="action" required aria-label="Default select example">
                <option value=""> -- Hành Động -- </option>
                <option value="restore">Khôi phục</option> 
                <option value="deleteForce">Xoá vĩnh viễn</option> 
            </select> 
            <button class="btn btn-primary btn-check-all-submit disabled">Thực hiện</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAllCourses"> 
                </div>
            </td>
            <th scope="col">
                ID
                {{{sortable '_id' _sort}}} 
            </th>
            <th scope="col">
                Tên khoá học 
                {{{sortable 'name' _sort}}}
            </th> 
            <th scope="col">
                Thời gian tạo 
                {{{sortable 'createdAt' _sort}}}
            </th>
            <td colspan="3"></td> 
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}"> 
                </div>
            </td>
            <td scope="row">{{sum @index 1}}</td>
            <td>{{this.name}}</td> 
            <td>{{this.deletedAt}}</td> 
            <td>
                <a class="btn btn-primary btn-restore" data-id="{{this._id}}" href="" >Khôi phục</a>
            </td>
            <td>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCourseModal"  data-id="{{this._id}}" href="">Xoá vĩnh viễn</a>
            </td>
            </tr> 
            {{else}}
            <tr>
                <td class="text-center" colspan="5">
                    <span class="">Thùng rác trống.</span>     
                </td> 
            </tr>
            {{/each}}
        </tbody>
    </table> 
</form>

<div class="confirm-delete">
    <div id="deleteCourseModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Xoá bài viết</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Hành động này không thể khôi phục.</p>
            <p>Bạn có chắc muốn xoá vĩnh viễn bài viết này?</p>
        </div>
        <div class="modal-footer">
            <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
            <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        </div>
        </div>
    </div>
    </div>
</div>

<form method="POST" action="" name="delete-course-form"></form> 
<form method="POST" action="" name="restore-course-form"></form> 

<script>
    document.addEventListener('DOMContentLoaded',() => {   
        var idCourse;
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var checkboxAll = $('#checkAllCourses')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var restoreBtn = $('.btn-restore') 
        var btnCheckAllSubmit = $('.btn-check-all-submit')

        document.getElementById('deleteCourseModal').addEventListener('show.bs.modal', event => { 
            const button = event.relatedTarget 
            idCourse = button.getAttribute('data-id')   
        }) 
        
        restoreBtn.click(function (e) {
            e.preventDefault()
            idCourse = $(this).data('id') 
            restoreForm.action = '/post/' + idCourse + '/restore?_method=PATCH'
            restoreForm.submit()
        })

        document.getElementById('btn-delete-course').addEventListener('click', () => {
            deleteForm.action = '/post/' + idCourse + '/force?_method=DELETE'
            deleteForm.submit()
        })

        // Check all changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked') 
            courseItemCheckbox.prop('checked', isCheckedAll)  
            renderCheckAllSubmitBtn() 
        }) 

        // Course item checkbox clicked
        courseItemCheckbox.change(function() {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length 
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn() 
        })  

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length 
            if (checkedCount > 0) {
                btnCheckAllSubmit.removeClass('disabled')
            } else {
                btnCheckAllSubmit.addClass('disabled')

            }
        }
    })
</script>